* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    margin-left: 5px;
}

h1, h2 {
    color: #069a11;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.container {
    width: 1140px; 
    margin: 20px auto 10px auto;
}

.blog-posts {
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
}

.blog-posts img {
    height: 200px;
    width: auto;
}

.other-posts {
    width: 25%;
    float: left;
}

.author-box {
    padding-top: 20px;
    border-top: 1px solid #7e7e7e;
}

.other {
    margin-bottom: 40px;
}

.author-box img {
    height: 125px;
    width: auto;
    border-radius: 50%;
    float: left;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

.author-text {
    font-size: 20px;
    float: left;
    margin-top: 45px;
    margin-left: 10px;
}

.date {
    position: absolute;
    top: 10px;
    right: 30px;
}